html, body {
    height: 100%;
    margin: 0;
    background-color: #F9F5F6;
}

h1 {
    text-align: center;
}

.Cont_Tabla {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Tabla {
    width: 80%;
    margin: 0 auto;
    table-layout: fixed;
    border-spacing: 10px 10px;
}

td {
    width: 300px;
    height: 150px;
    font-weight: bold;
}

.Cont_Titulos {
    text-align: center;
}

.Level1 {
    border-radius: 15px;
    background-color: #F8E8EE;
    color: black;
}

#Titulo1 {
    background-color: #D2E9E9;
    padding: 5px 30px;
    margin: 10px;
    display: inline-block;
    text-shadow: 0 3px 0 white;
    border-radius: 15px;
}

.Level2 {
    border-radius: 15px;
    background-color: #D2E9E9;
    color: black;
}

.Titulo2 {
    background-color: #F8E8EE;
    padding: 5px 30px;
    margin: 10px;
    display: inline-block;
    text-shadow: 0 3px 0 white;
    border-radius: 15px;
}

.Level3 {
    border-radius: 15px;
    background-color: #F8E8EE;
    color: black;
}

.Titulo3 {
    background-color: #D2E9E9;
    padding: 5px 30px;
    margin: 10px;
    display: inline-block;
    text-shadow: 0 3px 0 white;
    border-radius: 15px;
}

.Level4 {
    border-radius: 15px;
    background-color: #D2E9E9;
    color: black;
}

#Titulo4 {
    background-color: #F8E8EE;
    padding: 5px 30px;
    margin: 10px;
    display: inline-block;
    text-shadow: 0 3px 0 white;
    border-radius: 15px;
}

#Imagen {
    text-align: center;
}

.Cont_Img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    max-width: 300px;
    max-height: 600px;
    object-fit: cover;
}