{% extends 'MenusUsuarios/baseusu_dashboard.html' %}

{% block content %}
    <body>
        <h2>Bienvenido, {{ usuario_nombre }}</h2>
        <p>Tu rol es: {{ usuario_rol }}</p>

        <!-- Formulario de búsqueda por nombre de proyecto -->
        <form method="get" action="{% url 'user_dashboard' %}">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Buscar por nombre de proyecto" name="q" value="{{ request.GET.q }}">
                <button class="btn btn-outline-secondary" type="submit">Buscar</button>
            </div>
        </form>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalRelacionarDocumento">
            Relacionar Documento con Fase
        </button>
        <div class="table-responsive mt-4">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre Proyecto</th>
                        <th>Administrador</th>
                        <th>Estado</th>
                        <th>Porcentaje</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha Final</th>
                        <th>Presupuesto</th>
                        <th>Costo Final</th>
                        <th>Detalles</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyecto in proyectos %}
                        <tr>
                            <td>{{ proyecto.id }}</td>
                            <td>{{ proyecto.nombre_proyecto }}</td>
                            <td>{{ proyecto.admin_proyecto_usuario.nombre_usuario }}</td>
                            <td>{{ proyecto.estado }}</td>
                            <td>{{ proyecto.porcentaje }}</td>
                            <td>{{ proyecto.fecha_inicio }}</td>
                            <td>{{ proyecto.fecha_final }}</td>
                            <td>{{ proyecto.presupuesto }}</td>
                            <td>{{ proyecto.costo_final }}</td>
                            <td>
                                <!-- Botón para abrir el modal -->
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDocumento{{ proyecto.id }}">
                                    Subir Entregable
                                </button>

                                <!-- Modal para el formulario AgregarDocumentoForm -->
                                <div class="modal fade" id="modalDocumento{{ proyecto.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Subir Entregable - {{ proyecto.id }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Formulario AgregarDocumentoForm -->
                                                <form method="post" action="{% url 'agregar_documento' proyecto.id %}">
                                                    {% csrf_token %}
                                                    {{ form.as_p }}
                                                    <button type="submit" class="btn btn-primary">Guardar Entregable</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                
                        
                        <!-- Modal para el formulario RelacionarDocumentoForm -->
                        <div class="modal fade" id="modalRelacionarDocumento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Relacionar Documento con Fase</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Formulario RelacionarDocumentoForm -->
                                        <form method="post" action="{% url 'relacionar_documento' %}">
                                            {% csrf_token %}
                                            {{ form_relacion.as_p }}
                                            <button type="submit" class="btn btn-primary">Guardar Relación</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <tr>
                            <td colspan="10">No se encontraron proyectos.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <!-- Paginación -->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if proyectos.has_previous %}
                        <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ proyectos.previous_page_number }}">{{ proyectos.previous_page_number }}</a></li>
                    {% endif %}
                    
                    <li class="page-item active"><a class="page-link" href="?page={{ proyectos.number }}">{{ proyectos.number }}</a></li>
                    
                    {% if proyectos.has_next %}
                        <li class="page-item"><a class="page-link" href="?page={{ proyectos.next_page_number }}">{{ proyectos.next_page_number }}</a></li>
                        <li class="page-item"><a class="page-link" href="?page={{ proyectos.paginator.num_pages }}">&raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </body>
{% endblock %}
