{% extends 'MenusUsuarios/baseusu_dashboard.html' %}
{% block title %}Panel de Usuario{% endblock %}
{% block content %}
    <h2>Bienvenido, {{ usuario_nombre }}</h2>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Funcionalidad 1
                </div>
                <div class="card-body">
                    <p>Contenido de la funcionalidad 1 para usuarios</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Funcionalidad 2
                </div>
                <div class="card-body">
                    <p>Contenido de la funcionalidad 2 para usuarios</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
